/* 
  These Styles are related and required for the hotel search page to function.
*/

:root {
    --group-item-height: 140px;
    --group-item-accent-color: rgba( 82, 40, 100, 1);
    --group-item-accent-color-alpha: rgba( 82, 40, 100, .55);
    --group-item-border-radius: 0px;
}

body{
  background: #ffffff !important;
}
#app{
  padding: 0px !important;
}


/* Common Styles */
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: capitalize;
}
.text-orange{
  color: orange;
}
.text-blue{
  color: #79B1DE;
}
.text-white{
  color: #ffffff;
}
.bg-orange{
  background: orange !important;
}
.font-size-13{
  font-size: 15px;
}
.hotel-rooms-table{
  width: 100%;
}
.custom-link{
  text-decoration: none !important;
}

/* Search Layout Styles */

.hexagon {
  width: 40px;
  height: 35px;
  background: #6c757d;
  position: relative;
  z-index: 1;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #6c757d;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #6c757d;
}

.price_tag{
  position: relative;
  height: 40px;
  float: right;
  width: 105px;
  top: 40px;
  right: -4px;
}
.price_tag .inner{
  position: absolute;
  z-index: 10;
  margin-left: 20px;
  background: #6c757d;
  color: white;
  height: 75px;
  width: 100px;
  top: -20px;
  padding: 5px;
}
.price_tag .inner .smaller-text{
  font-size: 11px;
}
.price_tag .inner .larger-text{
  font-size: 18px;
}
.price_tag .inner .taxes-text{
  position: absolute;
  bottom: -20px;
  right: 0px;
}
.price_tag .inner .bar.red{
  width: 100%;
  height: 8px;
  background: orange;
  position: absolute;
  top: -20px;
  right: 0px;
}
.select-date{
  width: 100px;
}
.select-date .divider{
  border-bottom: 2px solid blue;
}
.leaflet-top, .leaflet-bottom{
  z-index: 500 !important;
}
