<template>
	<div>

		<modal name="modal" height="auto" width="65%" :scrollable="true">
			<div v-show="show_confirmation == true" class="p-50">
				<h4 class="mb-0">Thank for your booking! You will recieve confirmation via email within 24 hours.</h4>
			</div>
		  	<form v-show="show_confirmation == false" class="p-50" id="booking-form" @submit.prevent="processForm">
		  		<div slot="top-right">
		  			<h4 class="mb-0">{{ booking.name }}</h4>
		  			Booking<br /><br />
			      	<div class="clearFix"></div>
			    </div>
				<div class="form-row">

				 	<div class="form-group col-md-6">
				      <label for="first-name">First Name</label>
				      <input v-model="booking.first_name" name="first_name" type="text" class="form-control" id="first-name" placeholder="First Name" required>
				    </div>
				    <div class="form-group col-md-6">
				      	<label for="last-name">Last Name</label>
				      	<input v-model="booking.last_name" name="last_name" type="input" class="form-control" id="last-name" placeholder="Last Name" required>
				    </div>

				    <div class="form-group col-md-8">
				      <label for="inputEmail4">Email</label>
				      <input v-model="booking.email" name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
				    </div>
				    <div class="form-group col-md-4">
				      	<label for="phone">Phone Number</label>
				      	<input v-model="booking.phone" name="phone" type="input" class="form-control" id="phone" placeholder="Phone Number" required>
				    </div>

				</div>

				<div class="form-row">
				  	<div class="form-group col-md-8">
				    	<label for="address-line">Address</label>
				    	<input v-model="booking.address_line" name="address-line" type="text" class="form-control" id="address-line" placeholder="Full Street Address" required>
				  	</div>
				  	<div class="form-group col-md-4">
				    	<label for="address-line-2">Address 2</label>
				    	<input v-model="booking.address_line_2" name="address-line-2" type="text" class="form-control" id="address-line-2" placeholder="Apt, St, or Fl" required>
				  	</div>
			  	</div>

			  	<div class="form-row">
			    	<div class="form-group col-md-6">
			      		<label for="city">City</label>
			      		<input v-model="booking.city" name="city" type="text" class="form-control" id="city" required>
			    	</div>
			    	<div class="form-group col-md-4">
			      		<label for="state">State</label>
			      		<select v-model="booking.state" name="state" id="state" class="form-control" required>
			        		<option selected>Choose...</option>
			        		<option value="FL">Florida</option>
			        		<option value="NJ">New Jersey</option>
			      		</select>
			    	</div>
			    	<div class="form-group col-md-2">
			      		<label for="zip">Zip</label>
			      		<input v-model="booking.zip" name="zip" type="text" class="form-control" id="zip" required>
			    	</div>
			  	</div>

			  	<div class="form-row">
			    	<div class="form-group col-md-6">
			      		<label for="credit-card-number">Credit Card Number</label>
			      		<input v-model="booking.cc_number" name="credit-card-number" type="text" class="form-control" id="credit-card-number" required>
			    	</div>
			    	<div class="form-group col-md-4">
			      		<label for="exp-month">Exp Month</label>
			      		<select v-model="booking.cc_exp_month" name="exp-month" id="exp-month" class="form-control" required>
			        		<option selected>Choose...</option>
			        		<option value="1">January</option>
			        		<option value="2">February</option>
			        		<option value="3">March</option>
			        		<option value="4">April</option>
			        		<option value="5">May</option>
			        		<option value="6"June</option>
			        		<option value="7">July</option>
			        		<option value="8">August</option>
			        		<option value="9">September</option>
			        		<option value="10">October</option>
			        		<option value="11">November</option>
			        		<option value="12">Decemeber</option>
			      		</select>
			    	</div>
			    	<div class="form-group col-md-2">
			      		<label for="exp-year">Exp Year</label>
			      		<select v-model="booking.cc_exp_year" name="exp-year" id="exp-year" class="form-control" required>
			        		<option selected>Choose...</option>
			        		<option value="2019">2019</option>
			        		<option value="2020">2020</option>
			        		<option value="2021">2021</option>
			        		<option value="2022">2022</option>
			        		<option value="2023">2023</option>
			      		</select>
			    	</div>
			  	</div>
			  	<br />
			  	Room Cost: {{ parseInt(booking.price).toFixed(2) }} USD<br />
			  	Taxes: {{ ( ( parseInt(booking.price) * .14 ) + parseInt(booking.price ) ).toFixed(2) }} USD<br />
			  	Fees: {{ parseInt(booking.fees).toFixed(2) }} USD<br />
			  	Booking Total: {{ parseInt(booking.total).toFixed(2) }} USD
			  	<br />

			  	<input type="hidden" name="price" :value="booking.booking" />
			  	<input type="hidden" name="fees" :value="booking.fees" />
			  	<input type="hidden" name="taxes" :value="booking.taxes" />
			  	<input type="hidden" name="total" :value="booking.total" />

				<button type="submit" class="btn btn-primary float-right">Book Room</button>
				<div class="clearFix"></div>
				<br />
			</form>

		</modal>

		<div class="search-controls-container">

			<div class="container m-0 p-0">
				<div class="row no-gutters">
					<div class="col">
						<div class="inner">
							
							<div class="controls-left float-left mb-15">
								<div class="float-left mr-15">
									<input style="width: 360px;" type="text" v-model="keyword" placeholder="Search by Hotel Name" @keyup="searchKeywordValidation()" />
								</div>
								<div class="clearFix"></div>
							</div>
							
							<div class="controls-right float-right">
								<a class="btn btn-sm btn-light float-right rounded-0" @click="resetFilters()"><i class="fas fa-redo-alt"></i>&nbsp; Filters</a>
				    			<div class="dropdown sort-dropdown float-right">
								  	<button class="sortBtn btn btn-sm btn-secondary dropdown-toggle btn-sm rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    	Sort &nbsp;<i class="fas fa-caret-down"></i>
								  	</button>
								  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								   	 	<a class="dropdown-item" href="#" v-on:click="setSort( 'name_des' );" v-bind:class="[ ( 'name_des' === sort_by_value) ? 'active' : '' ]">
								   	 		<i class="fas fa-arrow-down"></i>&nbsp; Hotel Name
								   	 	</a>
								    	<a class="dropdown-item" href="#" v-on:click="setSort( 'name_asc' );" v-bind:class="[ ( 'name_asc' === sort_by_value) ? 'active' : '' ]">
								    		<i class="fas fa-arrow-up"></i>&nbsp; Hotel Name
								    	</a>
									    <a class="dropdown-item" href="#" v-on:click="setSort( 'price_desc' );" v-bind:class="[ ( 'price_desc' === sort_by_value) ? 'active' : '' ]">
									    	<i class="fas fa-arrow-down"></i>&nbsp; Loweset Price
									    </a>
									    <a class="dropdown-item" href="#" v-on:click="setSort( 'price_asc' );" v-bind:class="[ ( 'price_asc' === sort_by_value) ? 'active' : '' ]">
									    	<i class="fas fa-arrow-up"></i>&nbsp; Loweset Price
									    </a>
								    	<a class="dropdown-item" href="#" v-on:click="setSort( '' );"><i class="fas fa-redo-alt"></i>&nbsp; Reset</a>
								  	</div>
								</div>
								<div class="clearFix"></div>
							</div>
	
			    			<div class="clearFix"></div>
			    		</div>
					</div>

				</div>
			</div>
		</div>

		
	    <div class="row row no-gutters">
	    	<div class="container search-container p-0 m-0">
			    
			    <div class="row no-gutters">
			    	<div class="col-12 col-md-4 d-none d-lg-block order-md-first order-first bg-blue map-holder">
	                	<div id="map" class="map"></div>
	                	<div class="text-center m-0">
	                    	<div class="item-inner p-15 remove_border" :class="">
	                    		{{ hotels_found_counter }} Hotels Found
	                    	</div>
	                    </div>
	                </div>
                    <div class="col-12 col-lg-8 order-md-last order-last group-items">
	                    <div class="item" :data-id="item.id" :id="'item_' + item.id " v-for="item in sortedRecords" @click="goToMapLocation( item.location.lat, item.location.lon, item.id )" :data-lat="item.location.lat" :data-lon="item.location.lon">

	                        <div class="item-inner p-10" :class="">
	                        	<div class="item-container">

                        			<div v-if="item.image[0] != null" class="item-cover-image float-left" v-bind:style="{ backgroundImage: 'url(' + item.image[0].filename + ')', backgroundSize: 'cover' }">
                        			</div>

                        			<div v-if="item.image[0] == null" class="item-cover-image no-image float-left">
                        			</div>

                        			<div class="p-20 pl-15 description"> 

                        				<div class="price_tag">
											<div class="inner">
												<div div class="bar red"></div>
												<div div class="float-right smaller-text">starting at</div>
												<div div class="float-right">USD <span class="larger-text"><strong>{{ item.lowest_price }}</strong></span></div>
												<div div class="float-right smaller-text">per room / night</div>
												<div div class="smaller-text text-dark taxes-text">*Taxes Not Included</div>
											</div>
											<div class="hexagon"></div>
										</div>


                    					<strong class="font-size-13 text-blue">{{ item.name }}</strong> &nbsp;&nbsp;|&nbsp;&nbsp;

                    					<span v-if="item.rating == 0"> 
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    					</span>
                    					<span v-if="item.rating == 1"> 
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    					</span>
                    					<span v-if="item.rating == 2"> 
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    					</span>
                    					<span v-if="item.rating == 3"> 
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star"></div>
                    						<div class="fa fa-star"></div>
                    					</span>
                    					<span v-if="item.rating == 4"> 
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star filled"></div>
                    						<div class="fa fa-star star"></div>
                    					</span>
                    					<span v-if="item.rating == 5"> 
                    						<span class="fa fa-star filled"></span>
											<span class="fa fa-star filled"></span>
											<span class="fa fa-star filled"></span>
											<span class="fa fa-star filled"></span>
											<span class="fa fa-star filled"></span>
                    					</span>


                    					<br />
                    					{{ item.address }}, {{ item.city }}<br /> {{ item.state }} {{ item.zip }} {{ item.country }}<br />
                    					{{ item.group_members }} 
                    					<br /><br />
                    					<a class="btn btn-warning btn-sm bg-orange text-white" @click="showHotelRooms( $event, item )"><i class="fas fa-caret-down"></i> View Rooms / Availability</a>

                    				</div>

	                          	</div>

	                          	<div v-if="show_rooms_hotel == item.id">
		                          	<!--  Show if hotel has no rooms available -->
		                          	<div class="hotel-rooms-container" v-if="item.rooms.length == 0">
		                          		No rooms available
		                          	</div>

		                          	<div class="hotel-rooms-container" v-if="item.rooms.length > 0">
		                          		<div class="">
											<table class="table hotel-rooms-table mb-0 mt-15">

												<template v-for="room in item.rooms">
													<tr>
														<td class="text-capitalize">{{ room.name }}</td>
														<td class="text-uppercase text-orange">{{ room.status }}</td>
														<td class="text-uppercase"><a href="#!" class="custom-link text-blue" @click="showRoomDetails( $event, room )"><i class="fas fa-caret-down"></i> Details</a></td>
														<td class="text-capitalize"><strong>{{ room.price }}</strong>  USD Per Night</td>
														<td class="text-uppercase">
															<a v-if="room.status == 'Available'" href="#!" class="custom-link text-blue" @click="showRequestRoomModal( item, room )">Request</a>
															<span v-else>Not Available</span>
														</td>
													</tr>
													<tr v-if="show_room == 'item_'+item.id+'_room_'+room.id">	
														<td colspan="5">
															<div class="hotel-room-inner-details p-10">
																<div class="btn btn-dark btn-sm mr-10">King</div>
																<div class="btn btn-dark btn-sm mr-10">Daybed</div>
																<span class="mr-50"></span>
																<span class=" mr-10"><i class="fas fa-user"></i></span>
																<span class=" mr-10"><i class="fas fa-user"></i></span>
																<span class=" mr-10"><i class="fas fa-user"></i></span> 
																
																<div class="select-date text-center mt-25 mb-25">
																	Fri, Dec 9
																	<div class="divider"></div>
																	<span class="text-orange"><strong>{{ room.price }}</strong></span> USD
																</div>

																<div class="float-right tex-right">
																	<table>
																		<tr>
																			<td class="text-right pr-15">Price:</td>
																			<td class="text-right">{{ room.price }} USD</td>
																		</tr>
																		<tr>
																			<td class="text-right pr-15">Taxes 14%:</td>
																			<td class="text-right">{{ ( parseInt(room.price) * .14 ).toFixed(2) }} USD</td>
																		</tr>
																		<tr>
																			<td class="text-right pr-15">Fees: 0.00 p/nt</td>
																			<td class="text-right">0.00 USD</td>
																		</tr>
																		<tr>
																			<td class="text-right pr-15">Total:</td>
																			<td class="text-right"><strong>{{ ( ( parseInt(room.price) * .14 ) + parseInt(room.price ) ).toFixed(2) }}</strong> USD</td>
																		</tr>
																	</table>
																</div>

																<table class="">
																	<tr>
																		<td class="text-left">
																			<strong>Conditions and Offers:</strong><br />
																			<ul class="m-0 p-0">
																				Meal Plan: Breakfast Included
																			</ul>	
																			<br />
																			<strong>Cancellation Policy:</strong><br />
																			<ul class="m-0 p-0">
																				<span class="text-danger">Penalty of 1 booked night(s) when canceling after Nov 25, 2006 4:00 PM</span>
																			</ul>	
																		</td>
																		<td class="text-right">
																			
																		</td>
																	</tr>
																</table>
															</div>
														</td>
													</tr>
												</template>

											</table>
		                          	</div>

		                        </div>
	                        </div>
	                    </div>

	                    <div class="col item" v-if="hasNextPage == true">
	                    	<div class="" :class="">
	                    		<a href="#" class="btn btn-info btn-block" @click="performSearch( page + 1 )">Load More Hotels</a>
	                    	</div>	
	                    </div>

	                    <div class="col item" v-if="hasPrevPage == true">
	                    	<div class="" :class="">
	                    		<a href="#" class="btn btn-secondary btn-block" @click="performSearch( page - 1 )">Load Previous Hotels</a>
	                    	</div>
	                    </div>

	                    <div class="col item" v-if="records.length == 0">
	                    	<div class="item-inner" :class="">
	                    		<div class="item-container center p-25">
	                    			No Hotels Found
	                    		</div>
	                    	</div>
	                    </div>

	                </div>

                </div>

			</div>

	    </div>

	</div>
</template>

<script>

    let style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    const orderLists = {
	  name_asc: (a,b) => a.name > b.name,
	  name_des: (a,b) => a.name < b.name,
	  price_asc: (a,b) => a.lowest_price > b.lowest_price,
	  price_desc: (a,b) => a.lowest_price < b.lowest_price,
	  followers_asc: (a,b) => a.stat.followers_count > b.stat.followers_count,
	  followers_desc: (a,b) => a.stat.followers_count < b.stat.followers_count,
	};

    export default {
    	components: { },
        name: 'hotel-search-view',
        props: [
            // 'users', 
            'settings'
        ],
        data() {
            return {
            	debug: false,
                message: 'Page refreshed at ' + new Date().toLocaleString(),
                showModal: false,
                show_room: false,
                show_confirmation: false,
                booking: {
                	hotel_id: null,
                	room_id: null,
            		price: 0,
            		taxes: 0,
            		fees: 0,
            		total: 0,
            		name: '',
            		first_name: '',
            		last_name: '',
            		email: '',
            		phone: '',
            		address_line: '',
            		address_line_2: '',
            		city: '',
            		state: '',
            		zip: '',
            		cc_number: '',
            		cc_exp_month: '',
            		cc_exp_year: ''
                },
                show_rooms_hotel: false,
                isMenuActive: false,
                filter_count: 0,
                records: [],
                sort_by_value: '',
                page: 1,
                search_limit: 15,
                hasNextPage: false,
                hasPrevPage: false,
                keyword: '',
                hotels_found_counter: 0,
                sliders: {
                	
                },
                map: null,
			    tileLayer: null,
			    layers: [
				    {
				      id: 0,
				      name: 'Groups',
				      active: false,
				      features: [ ],
				    },
				],
			};
        },
        computed: {
		    sortedRecords() {
		    	return this.records.slice().sort(orderLists[this.sort_by_value]);
		 	},
		},
        methods: {
        	showHotelRooms: function( e, item ){

        		if( this.show_rooms_hotel == item.id ){
        			this.show_rooms_hotel = false;
        		} else {
        			this.show_rooms_hotel = item.id;
        		}
        	},
        	showRoomDetails: function( e, item ){

        		console.log( item );
        		if( this.show_room == 'item_'+ item.hotel_id +'_room_' + item.id ){
        			this.show_room = false;
        		} else {
        			this.show_room = 'item_'+ item.hotel_id +'_room_' + item.id;
        		}

        	},
        	showRequestRoomModal( hotel, room ){

        		// Reset The Modal Values
        		this.show_confirmation = false;
                this.booking.first_name = '';
                this.booking.last_name = '';
                this.booking.email = '';
                this.booking.phone = '';
                this.booking.address_line = '';
                this.booking.address_line_2 = '';
                this.booking.city = '';
                this.booking.state = '';
                this.booking.zip = '';
                this.booking.cc_number = '';
                this.booking.cc_exp_month = '';
                this.booking.cc_exp_year = '';

                // Set The Modal Values
        		this.booking.hotel_id = hotel.id;
        		this.booking.room_id = room.id;
        		this.booking.name = hotel.name + '  ' + room.name;
        		this.booking.price = room.price;
        		this.booking.taxes = parseInt( room.price ) * .14;
        		this.booking.fees = 0;
        		this.booking.total = parseInt( ( parseInt( room.price ) * .14 ) + parseInt( room.price ) ).toFixed(2);

        		this.$modal.show('modal');
        	},
        	processForm: function() {

        		axios.post( 
        			api_url + '/api/hotels/processBooking.json', 
        			this.booking 
        		).then((response) => {
                	this.show_confirmation = response.data.success;
                	this.performSearch();
                }).catch(function (error) {
                    console.log(error);
                });

		    },
        	goToMapLocation: function( lat, lon, id ){

        		$('.item').each(function(i, obj) {
				    $('.item' ).removeClass( 'active' );
				});

        		$('#item_' +id ).addClass( 'active' );
        		this.map.panTo(new L.LatLng( lat, lon ), 7);
        	},
        	initMap() {
        		this.map = L.map('map').setView([25.7617, -80.1918], 7);
        		this.map.scrollWheelZoom.disable();

        		this.tileLayer = L.tileLayer(
        		  'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
				  // 'https://cartodb-basemaps-{s}.global.ssl.fastßly.net/rastertiles/voyager/{z}/{x}/{y}.png',
				  {
				    maxZoom: 18,
				    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>',
				  }
				);
				this.tileLayer.addTo(this.map);
        	},
        	updateMarkers( layerId, active ){
        		const layer = this.layers.find(layer => layer.id === layerId);

        		layer.features.forEach((feature) => {
        			 if( active == 'clear' ){
				    	feature.leafletObject.removeFrom(this.map);
				    } else {
				    	feature.leafletObject.addTo(this.map);
				    }
        		});

        	},
			generateMapMarkers( ) {

			  	this.layers.forEach((layer) => {
			    	// Initialize the layer
			    	const markerFeatures = layer.features.filter(feature => feature.type === 'marker');
			    	markerFeatures.forEach((feature) => {

			    		var popupContent = feature.name;

					  	feature.leafletObject = L.marker(feature.coords).bindPopup(popupContent).on("popupopen", () => {
					  		$('#item_' + feature.id ).addClass( 'active' );
					    }).on("popupclose", () => {
					  		$('#item_' + feature.id ).removeClass( 'active' );
					    });

					    feature.leafletObject.addTo(this.map);
					});
			  	});
			},
			searchKeywordValidation: function() {
				// Not Limit For this Demo
				// if( this.keyword.length > 3 ){
					this.performSearch();
				// }
			},
        	setSort: function( value ){
        		this.sort_by_value = value;

        		setTimeout( function() {
			        var $dropdown = $('.sort-dropdown');
			        var activeText = $dropdown.find('.dropdown-menu a.active').html();
			        $dropdown.find('.sortBtn').html( activeText );

			        if( value == '' ){
			        	 $dropdown.find('.sortBtn').html( 'Sort &nbsp;<i class="fas fa-caret-down"></i>' );
			        }
			    }, 100);

        	},
        	resetFilters: function(){
        		this.filter_count = 0;
        		this.keyword = '';

        		this.performSearch();
        	},
        	performSearch( page_override = null ){

        		if( page_override !== null ){
        			this.page = page_override;
        		}
        		// Update Filter Counter
        		var count = 0;
        		this.filter_count = count;
        		
        		axios.get( api_url + '/api/hotels/search.json?limit='+this.search_limit+'&page='+this.page+'&keyword='+this.keyword, {
                    
                }).then((response) => {

                	this.records = response.data.records;
                	this.hotels_found_counter = response.data.pagination.count;
                	this.updateMarkers( 0, 'clear' );
                	this.layers[0].features = [];
                	var layers = this.layers[0].features;
                	$( response.data.records ).each(function( index ) {
            			layers.push( 
            				{  
            					id: this.id,
					  			name: this.name,
					  			slug: this.id,
					  			type: 'marker',
					  			coords: [ this.location.lat , this.location.lon ],
            				} 
            			);
                	});
                	this.generateMapMarkers();
                	// this.map.panTo(new L.LatLng( response.data.map_center.lat, response.data.map_center.lon ));

                	if( this.debug == true ){
                		console.log( "Search Results");
                		console.log(response.data);
                		console.log( response );
                		console.log( response.data.pagination );
                	}

                	// Look To Handle Pagination 
                	this.hasNextPage = false;
                	if( response.data.pagination.nextPage == true ){
                		console.log( 'We can show next page' );
                		this.hasNextPage = true;
                	}

                	this.hasPrevPage = false;
                	if( response.data.pagination.prevPage == true ){
                		console.log( 'We can show previous page' );
                		this.hasPrevPage = true;
                	}

                }).catch(function (error) {
                    console.log(error);
                });
        	},
        },
        beforeMount(){
            this.performSearch();
        },
        mounted() {
            this.initMap();
  			this.generateMapMarkers();
        }
    }
</script>

<style type="text/css">

	
/* Styles Related To The Search Vue Compoenat */

.search-filters-pannel{
  z-index: 2000;
  padding: 25px;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: -350px;
  width: 350px;
  transition: .5s ease;
  border-left: 1px solid #d0d0d0;
}
  .search-filters-pannel.active{
    right: -0px;
  }
  .search-filters-pannel .checkbox-filter{
    width: auto !important;
    display: inline-block !important;
    margin-right: 15px;
  }

.search-controls-container{
  margin-bottom: 10px;
}
.search-controls-container .sort-dropdown .dropdown-toggle::after {
    display:none;
}
.search-controls-container .btn{
    padding: 5px 20px !important;
}

.search-controls-container input{
  padding: 5px 5px 5px 5px !important;
  background: #ffffff !important;
  border: 1px solid #efefef;
  border-radius: 3px;

}
.hotel-rooms-container{
	background: #ffffff;
}

.search-container{
  font-size: 12px;
    position: relative;
    max-width: 1440px !important;
  width: 100%;
  background: #ffffff;
}
  .search-container .map-holder, .search-container .map { 
    height: 60vh;
    padding-top: 5px;
    padding-right: 0px;
  }
  .search-container .group-items{
    overflow: auto;
    background: #ffffff;
  }
  .search-container .item{
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 3px;
  }
  .search-container .item .item-inner{
    border-radius: var(--group-item-border-radius);
    border: 1px solid;
    border-color: var(--group-item-accent-color-alpha);
  }
  .search-container .item.active .item-inner{
    border: 1px solid;
    border-color: var(--group-item-accent-color);
  }

  .search-container .item .item-inner .item-title{
    font-size: 16px;
  }
  .search-container .item .item-inner .profile_img{
    width: 72px;
    height: 72px;
    margin-top: 15px;
  }
  .search-container .item .item-inner .item-container .description{
    padding-left: 165px;
  }
  .search-container .item .item-inner .item-container .item-cover-image{
    width: 275px;
    margin-right: 15px;
    /*height: calc( var( --group-item-height ) + 1px ) !important;*/
    height: 164px;
    border-radius: var(--group-item-border-radius) 0px 0px var(--group-item-border-radius);
  }
  .search-container .item .item-inner .item-container .item-cover-image.no-image {
    background: var(--group-item-accent-color);
  }
  .search-container .remove_border{
    border: 0px !important;
  }

  .search-container .item .item-inner{
      border: 1px solid #d0d0d0;
      background: #f8fafc;
      color: #ffffff;
      font-size: 12px;
      color: #000000;
  }
  .search-container .item .item-inner .star{
      fill: #ffffff;
      margin-left: 10px;
      margin-top: -3px;
  }
  .search-container .item .card-footer{
      max-width: 260px;
      margin: 10px auto;
      padding: 0px 16px !important;
      background: transparent;
      border: 0px;
  }

  .fa-star.filled{
    color: orange;
  }


/* Responsive Styles*/

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 765px) {
      .search-container .item{
      width: calc(100%);
    }
    .search-container .map-holder, .search-container .map { 
      height: 200px;
    }
    .search-container .item .item-inner .item-container .item-cover-image{
      width: 100%;
      margin-bottom: 15px;
      margin-right: 0px;
    }
    .search-container .item .item-inner .item-container .description{
      padding-left: 0px;
    }
  }
  @media only screen and (max-width: 992px) {
    .controls-right{
      float: left !important;
    }
  }

</style>